mx-overlay-insert {
  > div {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    font-size: 12px;
    text-align: center;
    padding-top: 2px;
    display: inline-block;
    // background: rgba(0,0,0,0.05);
    position: absolute;
    color: white;
    top: -90px;
  }
}
